  <section class="main-background">
    <div class="login-box">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title style="font-size:25px;padding-top:20px;padding-left:100px">Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginForm" (keydown)="keyDownFunction($event)" style="text-align: center;">
            <div class="group">
              <mat-form-field>
                <input matInput placeholder="Email" name="emailId" formControlName="emailId" required>
              </mat-form-field>
            </div>
            <div class="group">
              <mat-form-field>
                <input matInput placeholder="Password" type="password" name="password" formControlName="password"
                  required>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions style="text-align:center;">
          <button mat-button class="btn-1" (click)="openForgot()">Forgot Password ?</button>
        </mat-card-actions>
        <mat-card-actions>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-raised-button class="btn" (click)="onClickLogin()"
            style="text-align:center;width:80%">Login</button>
        </mat-card-actions>
        <mat-card-actions>
          <span style="color: #6fb5c1;"> Don't have an interviewer account? </span>
          <button mat-raised-button (click)="openDialog()">Sign Up</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
