.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-slider {
  width: 300px;
}

.feedback-container {
  margin: 5px;
  padding: 10px;
}

::ng-deep.main-background mat-dialog-container {
  background: linear-gradient(0deg, #4795a0, #4795a0), no-repeat center !important;
  padding: 10px !important;
}

::ng-deep.main-background .mat-dialog-content {
  display: contents !important;
  margin: 0px !important;
}

.btn {
  background-color: #0e3a45;
}
