<div class="otp-container">
    <h2 mat-dialog-title>OTP Verification</h2>
    <mat-dialog-content class="forgot">
        <span>Send OTP to your mail for Password Reset</span>
        <form [formGroup]="forgotPassword">
            <mat-form-field>
                <input matInput placeholder="Enter Email" name="email" formControlName="email" required>
            </mat-form-field>
            <mat-dialog-actions>
                <button mat-raised-button mat-dialog-close color="primary" (click)="onSendOtp()">Send OTP</button>
            </mat-dialog-actions>
        </form>
    </mat-dialog-content>
</div>