.signup-component {
  text-align: center;
}
.sign-up {
  width: 300px;
  /* margin: auto; */
  min-height: 400px;
  position: relative;
  margin: 5px;
}
.signup-btn {
  padding-left: 75px;
}

h2{
  margin-top: 50px;
}

.btn{
  background-color:#0e3a45;
}
::ng-deep.main-background mat-dialog-container {
  background: linear-gradient(0deg,
      #4795a0,
      #4795a0),
    no-repeat center !important;
  padding: 0px !important;
}

::ng-deep input{
  color:white;
  border-color: white !important;
}

.main-background {
  color: #0e3a45;
  font-weight: 500;
}